@import '../../variables';

.area{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    textarea{
        padding: 1.2rem;
        border-radius:.5rem;
        border: 0;
        background-color: $gray;
        font-family: 'Roboto', sans-serif;
        max-height: 20rem;
        min-height: 8rem;
        max-width: 90rem;

        &:checked{
            background-color: $success;
        }

       &:focus
         {
          outline: 0;
          box-shadow: $main 0px 1px 1px, $main 0px 0px 0px 1px;
        }
    }

    label{
        text-transform: capitalize;
        color: $dark-text;
    }

    .error{
        color:$error;
        font-size:1.4rem;
    }
}